name: "Publish"

on:
  release:
    types: [published]

jobs:
  unit-tests:
    uses: ./.github/workflows/ci.yml

  build:
    name: "Upload Release to PyPi"
    runs-on: ubuntu-latest
    needs: unit-tests
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.13
        run: uv python install 3.13
      - name: Build Package
        run: uv build
      - name: Publish
        run: uv publish
